#Ingore nodejs dep
node_modules/
#Ignore build version
dist/
#Ignore python cache
__pycache__/
#Ignore any history from container
.bash_history
.python_history
#Ignore ide files
.idea/
#Ignore DS_Store file
.DS_Store

#Ignore any databases
*.db
#Ignore virtual env
venv/