.wrapper-wysiwyg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 4rem 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1031;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-wysiwyg {
  z-index: 1032;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  width: 800px;
  background-color: #fff;
}
.modal-wysiwyg__label {
  text-align: left;
  font-size: 20px;
}
.modal-wysiwyg__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.modal-wysiwyg__close {
  position: relative;
  cursor: pointer;
  width: 4rem;
  transition: all 0.3s ease-in-out;
}
.modal-wysiwyg__close:hover {
  transform: scale(1.2);
}
.modal-wysiwyg__close::after, .modal-wysiwyg__close::before {
  content: "";
  left: 25%;
  top: 50%;
  position: absolute;
  width: 80%;
  height: 3px;
  background: #000;
}
.modal-wysiwyg__close::before {
  transform: rotate(-45deg);
}
.modal-wysiwyg__close::after {
  transform: rotate(45deg);
}
.modal-wysiwyg__send-button {
  margin-top: 4rem;
  background-color: #42b983;
  border-color: #42b983;
  z-index: 1033;
}

.add-new-button {
  margin-top: 2rem;
  background-color: #42b983;
  border-color: #42b983;
}

.articles {
  margin-bottom: 100px;
}
.articles__item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(66, 185, 131, 0.3);
  border-bottom: 1px solid rgba(66, 185, 131, 0.3);
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.articles__item:last-child {
  margin-bottom: 0;
}
.articles__item:hover {
  box-shadow: -10px -5px 11px 0 #42b983;
}
.articles__item:hover .articles__title {
  background-color: #42b983;
  color: #ffffff;
}
.articles__title {
  background: #42b983;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, #42b983 100%);
  text-align: left;
  text-indent: 15px;
  font-size: 2em;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.articles__preview {
  position: relative;
}
.articles__text {
  max-height: 250px;
  min-height: calc(250px / 2);
  max-width: 80%;
  margin: 1.4em auto 0 auto;
}
.articles__overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  box-shadow: inset 0px -50px 17px 0px #fff;
}

.head-bg {
  height: 7rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.pack {
  padding-bottom: 4rem;
}

.article-list {
  margin: 4rem 0;
  border: 1px solid #42b983;
  border-radius: 20px 0 20px 0;
}
.article-list__title {
  border-radius: 20px 0 0 0;
  background: #42b983;
  font-size: 24px;
}

.list-items__item {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 0.3px solid #42b983;
  font-size: calc(16px + 4 * ((100vw - 320px) / 680));
  transition: background-color 0.3s ease-in-out;
}
.list-items__item:last-child {
  border-bottom: none;
  border-radius: 0 0 20px 0;
}
.list-items__item:hover {
  background-color: rgba(66, 185, 131, 0.3);
}
.list-items__title {
  flex-grow: 1;
  text-align: left;
  margin-left: 4rem;
  color: #42b983;
}
.list-items__date-create {
  margin: 0 4vw;
}
.list-items__controls {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}
.list-items__edit {
  width: 5vw;
  max-width: 30px;
  margin-right: 4vw;
  cursor: pointer;
}
.list-items__delete {
  cursor: pointer;
  width: 5vw;
  max-width: 30px;
}

@media (max-width: 998px) {
  .head-bg {
    background-color: transparent;
  }
}
.article {
  display: flex;
  flex-direction: column;
  position: relative;
}
.article__back-link {
  cursor: pointer;
  z-index: 1;
  border-radius: 10px;
  background-color: #42b983;
  position: fixed;
  font-size: 25px;
  padding: 15px 30px;
  left: 20px;
  bottom: 20%;
  text-decoration: underline;
}
.article__back-link:hover {
  background-color: #50dd9e;
}
.article__back-link:active {
  background-color: #38996d;
}

.container-article {
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  max-width: 900px;
  width: 100%;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

@media (max-width: 1400px) {
  .container-article {
    max-width: 800px;
  }
}
@media (max-width: 1100px) {
  .container-article {
    max-width: 600px;
  }
}
@media (max-width: 998px) {
  .container-article {
    max-width: 300px;
  }

  .article__back-link {
    bottom: 0;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    left: 0;
    padding: 0;
    border-radius: 0;
  }

  .main-article {
    padding-bottom: 20px;
  }
}

/*# sourceMappingURL=correct.css.map */
