body {
    margin: 0;
    padding: 0;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

.main-article {
    text-align: left;
    font-size: 24px;
}

/* .main-header {
    background: no-repeat center center;
    background-image: url(../home-bg.jpg);
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

.site-heading {
    text-align: center;
    padding: 200px 0;
}

.subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
} */