
.wrapper-wysiwyg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 4rem 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1031;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-wysiwyg {
  z-index: 1032;
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  width: 800px;

  background-color: #fff;


  &__label {
    text-align: left;
    font-size: 20px;
  }


  &__title {
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__close {
    position: relative;
    cursor: pointer;
    width: 4rem;
    transition: all .3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    &::after, &::before {
      content: '';
      left: 25%;
      top: 50%;
      position: absolute;
      width: 80%;
      height: 3px;
      background: #000;
    }

    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }

  &__wysiwyg {
  }

  &__send-button {
    margin-top: 4rem;
    background-color: #42b983;
    border-color: #42b983;
    z-index: 1033;
  }
}
.add-new-button {
  margin-top: 2rem;
  background-color: #42b983;
  border-color: #42b983;
}
